*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a, a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
}
li{
    list-style: none;
}
.overlayH1{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}
.paraContent{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    letter-spacing: 0.3px;
}
.paraContentA{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 0.3px;
}
body{
    background-color: #151515;
}
.defaultWidth{
    width: 1060px;
    margin: 0 auto;
    padding: 50px 0;
}
.headerTitle{
    color: #ffffff;
    font-weight: 600;
    font-size: 50px;
}




/* header css starts */
header{
    width: 1060px;
    margin: 0 auto;
    padding: 50px 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.navUl{
    display: flex;
    align-items: center;
}
.navUl li a{
    padding: 7px 15px;
    border-radius: 25px;
    color: #ffffff;
    font-size: 14px;
}
.navUl li:first-child a{
    background-color: rgb(230, 83, 60);
}
.menuIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: none;
    font-size: 30px;
    cursor: pointer;
}


.headerContent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contentDiv{
    display: flex;
    align-items: center;
}
.imageDiv{
    position: relative;
    text-align: center;
    /* border: 1px solid red; */
}
.imageDiv img{
    height: 550px;
}
.workoutVideos, .tutorialVideos{
    width: 195px;
    height: 95px;
    border-radius: 25px;
    background-color: rgba(73, 73, 73, 0.233);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.workoutVideos{
    top: 10px;
    right: 10px;
}
.tutorialVideos{
    bottom: 10px;
    left: 10px;
}
.circle{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin-right: 10px;
}


.headerButtons{
    display: flex;
}
.headerButton{
    padding: 10px 22px;
    color: #ffffff;
    border-radius: 30px;
    margin: 20px 7px;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
}
.joinButton{
    border: 1px solid rgb(230, 83, 60);
    background-color: rgb(230, 83, 60);
}




/* changeYourHabits css starts */
.changeYourHabits{
    width: 1060px;
    margin: 0 auto;
    padding: 50px 0;
}
.changeYourHabitsHeader{
    text-align: center;
}
.habitContainer{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}
.habit{
    text-align: center;
}
.habit img{
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.habit h2{
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}



/* extraMile css starts */
.extraMile{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
}
.extraMileContent{
    display: flex;
    align-items: center;
}
.extraMilePara{
    margin: 10px 0;
}
.extraMileImage img{
    width: 100%;
    border-radius: 18px;
}



/* bmi css starts */
.bmiContainer{
    background: rgb(34, 34, 34);
 }
.bmiContainerInner{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}
table, th, td {
    border: 1px solid #5f5f5f;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 7px;
  }
.table{
    width: 100%;
    color: #ffffff;
}
.bmiInputFields{
    margin-top: 20px;
}
.bmiFields{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 0;
}
.bmiFields input, select{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background-color: #4d4c4ca9;
    color: #fff;
}



/* meetOurTeam css starts */
.meetOurTeamHeader{
    text-align: center;
}
.teamContainer{
    padding: 20px;
    background-color: rgb(34, 34, 34);
    border-radius: 18px;
    margin-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.teamMember{
    position: relative;
}
.teamMember img{
    width: 100%;
    height: 250px;
    border-radius: 12px;
}
.teamMemberContent{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.teamMemberContent h2{
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
}




/* footerFirstDiv css starts */
footer{
    width: 1060px;
    margin: 0 auto;
    padding: 50px 0;
}
.footerFirstDiv{
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
}
.fitness{
    font-style: italic;
    font-size: 30px;
    font-weight: 600;
    color: rgb(230, 83, 60);
    display: flex;
    align-items: center;
}
.fitness img{
    width: 50px;
}
.gym{
    margin-left: 5px;
    font-weight: 600;
    font-style: italic;
}
.footerTitle{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}
.hrLine{
    margin: 20px 0;
    height: 1px;
    background-color: #2c2c2c;
}
.footerSecondDiv{
    text-align: center;
}
/* footerFirstDiv css ends */











/* media query style starts */
@media screen and (max-width: 576px) {
    header{
        width: 100%;
        padding: 50px 10px;
    }
    .navUl{
        display: none;
    }
    .menuIcon{
        display: block;
    }
    .headerContent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .headerButtons{
        /* flex-direction: column; */
        margin-top: 15px;
    }
     .headerButton{
        font-size: 13px;
     }
    .headerButton{
        margin: 7px 7px;
    }



    .changeYourHabits{
        width: 100%;
    }
    .habitContainer{
        grid-template-columns: repeat(1, 1fr);
    }



    .extraMile{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .extraMileContent{
        margin-bottom: 20px;
    }


    .bmi{
        padding: 0 20px;
    }
    .bmiHeader{
        width: 100%;
    }
    .bmiContainerInner{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .bmiCharts{
        margin-bottom: 25px;
    }
    .bmiCharts, .bmiInputs{
        width: 100%;
    }


    .meetOurTeam{
        width: 100%;
    }
    .teamContainer{
        grid-template-columns: repeat(1, 1fr);
    }



    footer{
        width: 100%;
        padding: 50px 10px;
    }
    .footerFirstDiv{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media screen and (min-width: 576px) and (max-width: 992px) {
    footer{
        width: 100%;
        padding: 50px 10px;
    }
    .footerFirstDiv{
        grid-template-columns: repeat(2, 1fr);
    }
} */